<div class="container">
  <h2>Crear Nuevo Proveedor</h2>
  <form [formGroup]="proveedorForm" (ngSubmit)="crearProveedor()">
      <div class="form-group">
          <label for="ruc">RUC</label>
          <input formControlName="ruc" type="text" class="form-control" id="ruc" placeholder="RUC">
          <div
              *ngIf="proveedorForm.get('ruc')?.invalid && (proveedorForm.get('ruc')?.touched || proveedorForm.get('ruc')?.dirty)">
              <small *ngIf="proveedorForm.get('ruc')?.errors?.['required']">El campo RUC es obligatorio.</small>
              <small *ngIf="proveedorForm.get('ruc')?.errors?.['pattern']">El RUC debe tener un formato válido.</small>
          </div>
      </div>

      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
          <div
              *ngIf="proveedorForm.get('nombre')?.invalid && (proveedorForm.get('nombre')?.touched || proveedorForm.get('nombre')?.dirty)">
              <small *ngIf="proveedorForm.get('nombre')?.errors?.['required']">El campo Nombre es obligatorio.</small>
          </div>
      </div>

      <div class="form-group">
          <label for="nombreComercial">Nombre Comercial</label>
          <input formControlName="nombreComercial" type="text" class="form-control" id="nombreComercial" placeholder="Nombre Comercial">
          <div
              *ngIf="proveedorForm.get('nombreComercial')?.invalid && (proveedorForm.get('nombreComercial')?.touched || proveedorForm.get('nombreComercial')?.dirty)">
              <small *ngIf="proveedorForm.get('nombreComercial')?.errors?.['required']">El campo Nombre Comercial es obligatorio.</small>
          </div>
      </div>

      <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
          <div
              *ngIf="proveedorForm.get('email')?.invalid && (proveedorForm.get('email')?.touched || proveedorForm.get('email')?.dirty)">
              <small *ngIf="proveedorForm.get('email')?.errors?.['required']">El campo Email es obligatorio.</small>
              <small *ngIf="proveedorForm.get('email')?.errors?.['email']">El formato del email no es válido.</small>
          </div>
      </div>

      <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input formControlName="telefono" type="text" class="form-control" id="telefono" placeholder="Teléfono">
          <div
              *ngIf="proveedorForm.get('telefono')?.invalid && (proveedorForm.get('telefono')?.touched || proveedorForm.get('telefono')?.dirty)">
              <small *ngIf="proveedorForm.get('telefono')?.errors?.['required']">El campo Teléfono es obligatorio.</small>
          </div>
      </div>

      <div class="form-group">
          <label for="direccion">Dirección</label>
          <input formControlName="direccion" type="text" class="form-control" id="direccion" placeholder="Dirección">
          <div
              *ngIf="proveedorForm.get('direccion')?.invalid && (proveedorForm.get('direccion')?.touched || proveedorForm.get('direccion')?.dirty)">
              <small *ngIf="proveedorForm.get('direccion')?.errors?.['required']">El campo Dirección es obligatorio.</small>
          </div>
      </div>

      <button type="submit" class="btn btn-primary"
        [ngClass]="proveedorForm.invalid || isSubmiting ? 'disabled' : ''" 
        [textContent]="isSubmiting ? 'Guardando...' : 'Guardar Cambios'">Crear Proveedor</button>
      <button type="button" class="btn btn-secondary" 
        [ngClass]="isSubmiting ? 'disabled' : ''"
        (click)="cancelarCreacion()">Cancelar</button>
  </form>
</div>
