:host {
    display: block;
    flex-grow: 1;
}

.background {
    background: url(/assets/images/fondo_login.avif) no-repeat center center fixed;
    background-size: cover;
    font-family: var(--secondary-font);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    a {
        color: var(--secondary-color);

        &:hover {
            color: var(--hover-secondary);
        }
    }

    h3 {
        font-family: var(--primary-font);
        font-weight: bolder;
        color: var(--secondary-color);
    }

    .card {
        width: 100%;
        max-width: 800px;
        max-height: none;
        padding: 2rem;
        margin: 2rem;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .form-control {
                border-radius: 5px;
            }
        }
    }
}
