<header class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="logo-container navbar-brand">
        <img class="logo" src="/assets/images/logo_lg.png" alt="">
    </div>
    <nav id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i data-feather="home"></i>
                    INICIO
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i data-feather="truck"></i>
                    DELIVERY
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i data-feather="map-pin"></i>
                    UBICACIÓN
                </a>
            </li>
        </ul>
    </nav>
    <div class="account-header">
        Mi cuenta
    </div>
    
</header>