<header class="navbar navbar-expand-md px-3 mr-0">
    <div class="container-fluid row p-0 m-0">
        <div class="col justify-content-start">
            <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-list fs-2"></i>
            </button>
            <div class="d-none d-md-block logo-container navbar-brand">
                <a [routerLink]="[obtenerInicio()]"><img class="logo" src="/assets/images/logo_lg.png" alt=""></a>
            </div>
        </div>
        <nav id="collapsibleNavbar" class="col-5 justify-content-center collapse navbar-collapse">
            <!-- Admin Section -->
            <ng-template [ngIf]="getSelectedRol()==='ADMIN'">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/gestion']">
                            <i class="bi bi-people fs-3"></i>
                            USUARIOS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/productos']">
                            <i class="bi bi-box-seam fs-3"></i>
                            PRODUCTOS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/compras']">
                            <i class="bi bi-shop fs-3"></i>
                            COMPRAS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/ventas']">
                            <i class="bi bi-cart-dash fs-3"></i>
                            VENTAS
                        </a>
                    </li>
                </ul>
            </ng-template>

            <!-- Compras Section -->
            <ng-template [ngIf]="getSelectedRol()==='COMPRAS'">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/compras']">
                            <i class="bi bi-house fs-3"></i>
                            INICIO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['proveedores/cotizacion']">
                            <i class="bi bi-cart4 fs-3"></i>
                            COTIZACION
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['compras']">
                            <i class="bi bi-shop fs-3"></i>
                            COMPRAS
                        </a>
                    </li>
                </ul>
            </ng-template>

            <!-- Ventas Section -->
            <ng-template [ngIf]="getSelectedRol()==='CAJERO'">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/ventas']">
                            <i class="bi bi-house fs-3"></i>
                            INICIO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['productos']">
                            <i class="bi bi-box-seam fs-3"></i>
                            PRODUCTOS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['ventas']">
                            <i class="bi bi-cart-dash fs-3"></i>
                            VENTAS
                        </a>
                    </li>
                </ul>
            </ng-template>

            <!-- Inventario Section -->
            <ng-template [ngIf]="getSelectedRol()==='INVENTARIO'">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['modulo/productos']">
                            <i class="bi bi-house fs-3"></i>
                            INICIO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['almacenes']">
                            <i class="bi bi-building fs-3"></i>
                            ALMACENES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['categorias']">
                            <i class="bi bi-boxes fs-3"></i>
                            CATEGORIAS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['productos']">
                            <i class="bi bi-box-seam fs-3"></i>
                            PRODUCTOS
                        </a>
                    </li>
                </ul>
            </ng-template>
            
            <!-- Default Section -->
            <ng-template [ngIf]="getSelectedRol() === '' || getSelectedRol() === 'USUARIO'">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['home']">
                            <i class="bi bi-house-door fs-3"></i>
                            INICIO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['']">
                            <i class="bi bi-bag-heart fs-3"></i>
                            CATALOGO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-md-column gap-md-0 gap-1 align-items-center" [routerLink]="['']">
                            <i class="bi bi-cart3 fs-3"></i>
                            CARRITO
                        </a>
                    </li>
                </ul>
            </ng-template>
            
        </nav>
        <div class="col account-header d-flex flex-row justify-content-end align-items-center gap-3">
            <div class="dropdown">
                <button class="nav-link account-dropdown" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Mi cuenta <i class="bi bi-caret-down-square"></i>
                </button>
                <!-- Dropdown Autenticado -->
                <ng-template [ngIf]="isAuthenticated()" [ngIfElse]="defaultDropdown">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><button class="dropdown-item" >Perfil</button></li>
                        <li><button class="dropdown-item" >Configuración</button></li>
                        <li><button class="dropdown-item" (click)="logout()">Cerrar sesión</button></li>
                    </ul>
                </ng-template>

                <!-- Dropdown por defecto -->
                <ng-template #defaultDropdown>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><button class="dropdown-item" [routerLink]="['login']">Iniciar Sesión</button></li>
                        <li><button class="dropdown-item" [routerLink]="['register']">Registrarse</button></li>
                    </ul>
                </ng-template>
                </div>
        </div>
    </div>
</header>
