<div class="container">
    <h2>Crear Nuevo Almacen</h2>
    <form [formGroup]="almacenForm" (ngSubmit)="crearAlmacen()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
            <div
                *ngIf="almacenForm.get('nombre')?.invalid && (almacenForm.get('nombre')?.touched || almacenForm.get('nombre')?.dirty)">
                <small *ngIf="almacenForm.get('nombre')?.errors?.['required']">El campo Nombre es obligatorio.</small>
                <small *ngIf="almacenForm.get('nombre')?.errors?.['minlength']">El Nombre debe tener al menos 2
                    caracteres.</small>
            </div>
        </div>
  
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea formControlName="descripcion" class="form-control" id="descripcion"
                placeholder="Descripción"></textarea>
            <div
                *ngIf="almacenForm.get('descripcion')?.invalid && (almacenForm.get('descripcion')?.touched || almacenForm.get('descripcion')?.dirty)">
                <small *ngIf="almacenForm.get('descripcion')?.errors?.['required']">El campo Descripción es
                    obligatorio.</small>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">Crear Almacen</button>
            <button type="button" class="btn btn-secondary" (click)="cancelarCreacion()">Cancelar</button>
        </div>
    </form>
</div>