<div class="container">
    <h2>Editar Rol</h2>
    <form [formGroup]="rolForm" (ngSubmit)="guardarRol()">
        <div class="form-group">
            <label for="tipo">Nombre</label>
            <input formControlName="tipo" type="text" class="form-control opacity-50" id="tipo" placeholder="Nombre" [readOnly]="true">
            <div
                *ngIf="rolForm.get('tipo')?.invalid && (rolForm.get('tipo')?.touched || rolForm.get('tipo')?.dirty)">
                <small *ngIf="rolForm.get('tipo')?.errors?.['required']">El campo Nombre es obligatorio.</small>
                <small *ngIf="rolForm.get('tipo')?.errors?.['minlength']">El Nombre debe tener al menos 2
                    caracteres.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" (change)="onFileChange($event)" class="form-control" id="imagen">
        </div>

        <button type="submit" class="btn btn-primary" 
            [ngClass]="rolForm.invalid || isSubmiting ? 'disabled' : ''" 
            [textContent]="isSubmiting ? 'Guardando...' : 'Guardar Cambios'">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" 
            [ngClass]="isSubmiting ? 'disabled' : ''"
            (click)="cancelarEdicion()">Cancelar</button>
    </form>
</div>