<div class="container">
    <h2>Editar Usuario</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()">
  
      <!-- Username -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" id="username" placeholder="Username" [readonly]="true"/>
        </mat-form-field>
      </div>
  
      <!-- DNI -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" type="text" id="dni" placeholder="DNI" [readonly]="true"/>
        </mat-form-field>
      </div>
  
      <!-- Nombre -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" type="text" id="nombre" placeholder="Nombre" [readonly]="true"/>
        </mat-form-field>
      </div>
  
      <!-- Apellido Paterno -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput formControlName="apellidoPat" type="text" id="apellidoPat" placeholder="Apellido Paterno" [readonly]="true"/>
        </mat-form-field>
      </div>
  
      <!-- Apellido Materno -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Apellido Materno</mat-label>
          <input matInput formControlName="apellidoMat" type="text" id="apellidoMat" placeholder="Apellido Materno" [readonly]="true"/>
        </mat-form-field>
      </div>
  
      <!-- Roles -->
      <div class="form-group">
        <mat-label>Roles</mat-label>
        <div *ngFor="let rol of roles">
          <mat-checkbox
            (change)="onRolPressed(rol)"
            [value]="rol"
            [checked]="rolesSeleccionados.includes(rol)"
            [disabled]="rol === 'USUARIO'">
            {{ rol }}
          </mat-checkbox>
        </div>
      </div>
  
      <!-- Botones -->
      <div class="form-group d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-primary"
          [ngClass]="{ disabled: usuarioForm.invalid || isSubmiting }"
          [attr.disabled]="usuarioForm.invalid || isSubmiting ? true : null">
          {{ isSubmiting ? "Guardando..." : "Guardar Cambios" }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          [ngClass]="{ 'disabled': isSubmiting }"
          (click)="cancelarEdicion()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  