c<div class="container">
    <h2>Crear Nueva Categoría</h2>
    <form [formGroup]="categoriaForm" (ngSubmit)="crearCategoria()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
            <div
                *ngIf="categoriaForm.get('nombre')?.invalid && (categoriaForm.get('nombre')?.touched || categoriaForm.get('nombre')?.dirty)">
                <small *ngIf="categoriaForm.get('nombre')?.errors?.['required']">El campo Nombre es obligatorio.</small>
                <small *ngIf="categoriaForm.get('nombre')?.errors?.['minlength']">El Nombre debe tener al menos 2
                    caracteres.</small>
            </div>
        </div>
 
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea formControlName="descripcion" class="form-control" id="descripcion"
                placeholder="Descripción"></textarea>
            <div
                *ngIf="categoriaForm.get('descripcion')?.invalid && (categoriaForm.get('descripcion')?.touched || categoriaForm.get('descripcion')?.dirty)">
                <small *ngIf="categoriaForm.get('descripcion')?.errors?.['required']">El campo Descripción es
                    obligatorio.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" (change)="onFileChange($event)" class="form-control" id="imagen">
        </div>

        <button type="submit" class="btn btn-primary" 
            [ngClass]="categoriaForm.invalid || isSubmiting ? 'disabled' : ''" 
            [textContent]="isSubmiting ? 'Creando...' : 'Crear Categoría'"></button>
        <button type="button" class="btn btn-secondary" 
            [ngClass]="isSubmiting ? 'disabled' : ''"
            (click)="cancelarCreacion()">Cancelar</button>
    </form>
</div>