<div class="producto-list">
    <div class="subheader">
        <h3>Lista de productos</h3>
        <div class="buttons-list">
            <button [routerLink]="['/productos/new']" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>
                Agregar Producto
            </button>
            <button class="btn btn-danger" [ngClass]="this.idProducto===-1 ? 'disabled': ''"
            (click)="eliminarProducto()">
                <i class="bi bi-trash3"></i>
                Eliminar Producto
            </button>
        </div>
    </div>
    
    <div class="container">
        <div class="row gap-3 row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="card p-0" *ngFor="let producto of productos" (click)="seleccionarProducto(producto.idProducto)" 
                [ngClass]="{'selected': idProducto === producto.idProducto}">
                <img class="card-img-top" [src]="producto.rutaImagen" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{producto.nombre}}</h4>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <div class="row gap-2 mx-1">
                        <button [routerLink]="['/producto', producto.idProducto]" class="btn btn-secondary col">
                            <i class="bi bi-info-square"></i>
                            Detalles
                        </button>
                        <button [routerLink]="['/producto/edit', producto.idProducto]" class="btn btn-primary col">
                            <i class="bi bi-pencil-square"></i>
                            Editar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>