<div class="gestion-list">
    <div class="subheader">
        <h3>MODULO DE GESTION</h3>
    </div>
 
    <div class="container">
        <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
            <div class="card p-0 d-flex justify-content-center align-items-center">
                <img class="card-img-top" src="/assets/images/roles.png">
                <div class="card-body">
                    <h4 class="card-title">Roles</h4>
                    <a [routerLink]="['/roles']" class="btn btn-primary">Administrar</a>
                </div>
            </div>
            <div class="card p-0 d-flex justify-content-center align-items-center">
                <img class="card-img-top" src="/assets/images/usuarios.png">
                <div class="card-body">
                    <h4 class="card-title">Usuarios</h4>
                    <a [routerLink]="['/usuarios']" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
</div>