<div class="container">
    <h2>Solicitar Cotización</h2>
    <form [formGroup]="cotizacionForm" (ngSubmit)="solicitarCotizacion()">
      <!-- Proveedores Selección Múltiple -->
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Selecciona Proveedores</mat-label>
          <mat-select formControlName="idProveedores" multiple>
            <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.idProveedor">
              {{ proveedor.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="cotizacionForm.get('idProveedores')?.errors?.['required']">
              Debe seleccionar al menos un proveedor.
          </mat-error>
        </mat-form-field>
    </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Selecciona Productos</mat-label>
          <mat-select formControlName="idProductos" multiple>
            <mat-option *ngFor="let producto of productos" [value]="producto.idProducto">
              {{ producto.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="cotizacionForm.get('idProductos')?.errors?.['required']">
            Debe seleccionar al menos un producto.
        </mat-error>
        </mat-form-field>
      </div>
  
      <!-- Fecha Límite -->
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Selecciona Fecha Límite</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaLimite" id="fechaLimite">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="cotizacionForm.get('fechaLimite')?.errors?.['required']">
            El campo Fecha Límite es obligatorio.
          </mat-error>
          <mat-error *ngIf="cotizacionForm.get('fechaLimite')?.hasError('fechaLimiteInvalida')">
            La fecha debe ser al menos 3 días después de hoy.
          </mat-error>
        </mat-form-field>
      </div>
  
      <button type="submit" class="btn btn-primary"
              [ngClass]="cotizacionForm.invalid || isSubmitting ? 'disabled' : ''">
        {{ isSubmitting ? 'Solicitando...' : 'Solicitar' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelarSolicitud()">Cancelar</button>
    </form>
  </div>
  