<div class="container">
  <h2>Crear Nuevo Producto</h2>

  <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">

    <!-- Nombre -->
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          formControlName="nombre"
          type="text"
          id="nombre"
          placeholder="Nombre del producto"
        />
        <mat-error *ngIf="productoForm.get('nombre')?.hasError('required')">
          El campo Nombre es obligatorio.
        </mat-error>
        <mat-error *ngIf="productoForm.get('nombre')?.hasError('minlength')">
          El Nombre debe tener al menos 2 caracteres.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Categoría -->
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria" id="categoria">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.nombre">
            {{ categoria.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="productoForm.get('categoria')?.hasError('required')">
          Debe seleccionar una categoría.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          formControlName="descripcion"
          id="descripcion"
          placeholder="Descripción del producto"
        ></textarea>
        <mat-error *ngIf="productoForm.get('descripcion')?.hasError('required')">
          El campo Descripción es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Unidades Permitidas (Unidad por defecto | Precio) -->
    <div class="form-group">
        <div formArrayName="unidadesPermitidas">
            <div formGroupName="0">
                <mat-form-field appearance="fill" class="w-50">
                  <mat-label>Unidad por defecto</mat-label>
                  <mat-select formControlName="nombreUnidad" (selectionChange)="onUnidadChange($event)">
                    <mat-option value="" disabled>Elegir unidad</mat-option>
                    <mat-option *ngFor="let unidad of unidades" [value]="unidad.nombre">{{ unidad.nombre }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="productoForm.get('unidadPorDefecto')?.hasError('required')">
                    La unidad por defecto es obligatoria.
                  </mat-error>
                </mat-form-field>
          
                <mat-form-field appearance="fill" class="w-50">
                  <mat-label>Precio</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="precioPorUnidad"
                    placeholder="Precio"
                    appLimitDecimal
                  />
                  <mat-error *ngIf="unidadesPermitidas.at(0).get('precioPorUnidad')?.hasError('required')">
                    El precio es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="unidadesPermitidas.at(0).get('precioPorUnidad')?.hasError('min')">
                    El precio no puede ser negativo.
                  </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- Unidades Permitidas (Unidad | Precio | Equivalencia) -->
    <div class="form-group">
      <div formArrayName="unidadesPermitidas">
        <div *ngFor="let unidadControl of unidadesPermitidas.controls; let i = index" [formGroupName]="i"
            class="form-group d-flex">
          @if (i>0) {
              <!-- Unidad -->
              <mat-form-field appearance="fill">
                <mat-label>Unidad</mat-label>
                <mat-select formControlName="nombreUnidad">
                  <mat-option value="" disabled>Elegir unidad</mat-option>
                  <mat-option *ngFor="let unidad of unidades" [value]="unidad.nombre">{{ unidad.nombre }}</mat-option>
                </mat-select>
                <mat-error *ngIf="unidadControl.get('nombreUnidad')?.hasError('required')">
                    Debe seleccionar una unidad.
                  </mat-error>
                <mat-error *ngIf="unidadControl.get('nombreUnidad')?.hasError('unidadRepetida')">
                    Esta unidad ya ha sido seleccionada. Elija otra.
                  </mat-error>
              </mat-form-field>
    
              <!-- Precio -->
              <mat-form-field appearance="fill">
                <mat-label>Precio</mat-label>
                <input type="number" formControlName="precioPorUnidad" matInput placeholder="Precio" appLimitDecimal />
                <mat-error *ngIf="unidadControl.get('precioPorUnidad')?.hasError('required')">
                  El precio es obligatorio.
                </mat-error>
                <mat-error *ngIf="unidadControl.get('precioPorUnidad')?.hasError('min')">
                  El precio no puede ser negativo.
                </mat-error>
              </mat-form-field>
    
              <!-- Equivalencia (por defecto es 1) -->
              <mat-form-field appearance="fill">
                <mat-label>Equivalencia</mat-label>
                <input type="number" formControlName="equivalencia" matInput placeholder="Equivalencia" appLimitDecimal/>
                <mat-error *ngIf="unidadControl.get('equivalencia')?.hasError('required')">
                    La equivalencia es obligatoria.
                  </mat-error>
                  <mat-error *ngIf="unidadControl.get('equivalencia')?.hasError('min')">
                    La equivalencia no puede ser negativa.
                  </mat-error>
              </mat-form-field>
    
              <!-- Botón para eliminar unidad -->
              <button type="button" (click)="eliminarUnidad(i)" mat-fab>
                <mat-icon>delete</mat-icon>
              </button>
          }
        </div>
      </div>

      <button type="button" class="btn btn-secondary m-2" (click)="agregarUnidad()">Agregar Unidad</button>
    </div>

    <!-- Almacenes -->
    <div class="form-group">
      <div formArrayName="almacenes">
        <div *ngFor="let almacenControl of almacenesSeleccionados.controls; let i = index" [formGroupName]="i" class="d-flex">
          
          <!-- Almacén -->
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Almacén</mat-label>
            <mat-select formControlName="nombreAlmacen">
              <mat-option value="" disabled>Elegir almacén</mat-option>
              <mat-option *ngFor="let almacen of almacenes" [value]="almacen.nombre">{{ almacen.nombre }}</mat-option>
            </mat-select>
            <mat-error *ngIf="almacenControl.get('nombreAlmacen')?.hasError('required')">
                Debe seleccionar un almacén.
              </mat-error>
              <mat-error *ngIf="almacenControl.get('nombreAlmacen')?.hasError('almacenRepetido')">
                El almacén no puede estar repetido.
              </mat-error>
          </mat-form-field>

          <!-- Cantidad -->
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Cantidad de producto</mat-label>
            <input
              type="number"
              formControlName="cantidadProductos"
              matInput
              placeholder="Cantidad"
              appLimitDecimal
            />
            <mat-error *ngIf="almacenControl.get('cantidadProductos')?.hasError('required')">
                La cantidad de productos es obligatoria.
              </mat-error>
              <mat-error *ngIf="almacenControl.get('cantidadProductos')?.hasError('min')">
                La cantidad de productos no puede ser negativa.
              </mat-error>
          </mat-form-field>

          <button type="button" (click)="eliminarAlmacen(i)" mat-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <button type="button" class="btn btn-secondary m-2" (click)="agregarAlmacen()">Agregar Almacén</button>
    </div>

    <!-- Imagen -->
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <ngx-mat-file-input
          formControlName="imagen"
          [multiple]="false"
          placeholder="Elija una imagen"
          [accept]="getImageTypes()"
        ></ngx-mat-file-input>
        <mat-error *ngIf="productoForm.get('imagen')?.hasError('required')">
            Debe subir una imagen.
          </mat-error>
        <mat-error *ngIf="productoForm.get('imagen')?.hasError('tipoArchivoInvalido')">
          Tipo de archivo no permitido. Solo se aceptan imágenes.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Botones -->
    <div class="form-group d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-primary"
        [ngClass]="{ disabled: productoForm.invalid || isSubmitting }"
        [attr.disabled]="productoForm.invalid || isSubmitting ? true : null"
      >
        {{ isSubmitting ? "Creando..." : "Crear Producto" }}
      </button>
      <button 
          type="button" 
          class="btn btn-secondary" 
          [ngClass]="{'disabled': isSubmitting}" 
          (click)="cancelarCreacion()">
          Cancelar
        </button>
    </div>
  </form>
</div>
