<div class="almacenes-list">
  <div class="container subheader-table">
    <h3>Almacenes</h3>
    <button [routerLink]="['/almacenes/new']" class="btn btn-primary">
      <i class="bi bi-plus-square"></i>
      Nuevo Almacen
    </button>
  </div>

  <div class="container">
    <div class="filters mb-4">
      <div class="input-group">
        <span class="input-group-text" id="search-addon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          [(ngModel)]="searchTerm"
          (ngModelChange)="obtenerAlmacenes()"
          id="searchInput"
        />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-primary table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">No.</th>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Dirección</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let almacen of almacenes">
            <th scope="row" class="text-center">{{ almacen.idAlmacen }}</th>
            <td class="text-center">{{ almacen.nombre }}</td>
            <td class="text-center">{{ almacen.direccion }}</td>
            <td class="table-actions text-center">
              <button
                [routerLink]="['/almacen/edit', almacen.idAlmacen]"
                class="btn btn-primary"
                title="Editar"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                (click)="selectAlmacen(almacen)"
                class="btn btn-danger"
                title="Eliminar"
                data-bs-toggle="modal" 
                data-bs-target="#deleteModal"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
  data-bs-dismiss="modal"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar el almacén
        <strong>{{ almacenSeleccionado?.nombre }}</strong>?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmarEliminacion()"
          data-bs-dismiss="modal"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
