<div class="categoria-list">
    <div class="container subheader-table">
        <h3>Categorías</h3>
        <button [routerLink]="['/categorias/new']" class="btn btn-primary">
            <i class="bi bi-plus-square"></i>
            Nueva Categoría
        </button>
    </div>

    <div class="container">
        <div class="search-bar">
            <input type="text" class="search" placeholder="Buscar" [(ngModel)]="searchTerm" (ngModelChange)="filtrarCategorias()">
        </div>

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary table-bordered"
            >
                <thead>
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <th scope="col" class="text-center">Imagen</th>
                        <th scope="col" class="text-center">Categoría</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" *ngFor="let categoria of categoriasFiltradas">
                        <th scope="row" class="text-center">{{categoria.idCategoria}}</th>
                        <td class="text-center"><img class="table-img" [src]="categoria.rutaImagen" [alt]="categoria.nombre"></td>
                        <td class="text-center">{{categoria.nombre}}</td>
                        <td class="text-center">{{categoria.descripcion}}</td>
                        <td class="table-actions text-center">
                            <button [routerLink]="['/categoria', categoria.idCategoria]" class="btn btn-secondary" title="Detalles">
                                <i class="bi bi-info-square"></i>
                            </button>
                            <button [routerLink]="['/categoria/edit', categoria.idCategoria]" class="btn btn-primary" title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button (click)="eliminarCategoriaPorId(categoria.idCategoria)" class="btn btn-danger" title="Eliminar">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>