<div class="container">
    <h2>Editar Categoría</h2>
  
    <form [formGroup]="categoriaForm" (ngSubmit)="guardarCategoria()">
  
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            formControlName="nombre"
            type="text"
            id="nombre"
            placeholder="Nombre de la categoría"
          />
          <mat-error *ngIf="categoriaForm.get('nombre')?.hasError('required')">
            El campo Nombre es obligatorio.
          </mat-error>
          <mat-error *ngIf="categoriaForm.get('nombre')?.hasError('minlength')">
            El Nombre debe tener al menos 2 caracteres.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            formControlName="descripcion"
            id="descripcion"
            placeholder="Descripción de la categoría"
          ></textarea>
          <mat-error *ngIf="categoriaForm.get('descripcion')?.hasError('required')">
            El campo Descripción es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-100">
          <ngx-mat-file-input 
            formControlName="imagen" 
            [multiple]="false" 
            placeholder="Elija una imagen" 
            [accept]="getImageTypes()" >
          </ngx-mat-file-input>
          <mat-error *ngIf="categoriaForm.get('imagen')?.hasError('tipoArchivoInvalido')">
            Tipo de archivo no permitido. Solo se aceptan imágenes.
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-primary"
          [ngClass]="{ disabled: categoriaForm.invalid || isSubmitting }"
          [attr.disabled]="categoriaForm.invalid || isSubmitting ? true : null"
        >
          {{ isSubmitting ? "Guardando..." : "Guardar Cambios" }}
        </button>
  
        <button
          type="button"
          class="btn btn-secondary"
          [ngClass]="{ disabled: isSubmitting }"
          (click)="cancelarEdicion()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
  