<div class="producto-list">
    <div class="subheader">
        <h3>MODULO DE PRODUCTOS</h3>
    </div>

    <div class="container">
        <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
            <div class="card p-0 d-flex justify-content-center align-items-center">
                <img class="card-img-top" src="/assets/images/almacenes.png">
                <div class="card-body">
                    <h4 class="card-title">Almacenes</h4>
                    <a [routerLink]="['/almacenes']" class="btn btn-primary">Administrar</a>
                </div>
            </div>
            <div class="card p-0 d-flex justify-content-center align-items-center">
                <img class="card-img-top" src="/assets/images/categorias.png">
                <div class="card-body">
                    <h4 class="card-title">Categorias</h4>
                    <a [routerLink]="['/categorias']" class="btn btn-primary">Administrar</a>
                </div>
            </div>
            <div class="card p-0 d-flex justify-content-center align-items-center">
                <img class="card-img-top" src="/assets/images/productos.png">
                <div class="card-body">
                    <h4 class="card-title">Productos</h4>
                    <a [routerLink]="['/productos']" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
</div>