<div class="proveedor-list">
    <div class="container subheader-table">
      <h3>Proveedores</h3>
      <button [routerLink]="['/proveedores/new']" class="btn btn-primary">
        <i class="bi bi-plus-square"></i>
        Nuevo Proveedor
      </button>
    </div>
  
    <div class="container">
      <div class="filters mb-4">
          <div class="input-group">
              <span class="input-group-text" id="search-addon">
                <i class="bi bi-search"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                [(ngModel)]="searchTerm"
                (ngModelChange)="obtenerProveedores()"
                id="searchInput"
              />
            </div>
      </div>
  
      <div class="table-responsive">
        <table class="table table-primary table-bordered">
          <thead>
            <tr>
              <th scope="col" class="text-center">No.</th>
              <th scope="col" class="text-center">RUC</th>
              <th scope="col" class="text-center">Razón Social</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Teléfono</th>
              <th scope="col" class="text-center">Dirección</th>
              <th scope="col" class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let proveedor of proveedores">
              <th scope="row" class="text-center">{{ proveedor.idProveedor }}</th>
              <td class="text-center">{{ proveedor.ruc }}</td>
              <td class="text-center">{{ proveedor.nombreComercial }}</td>
              <td class="text-center">{{ proveedor.email }}</td>
              <td class="text-center">{{ proveedor.telefono }}</td>
              <td class="text-center">{{ proveedor.direccion }}</td>
              <td class="table-actions text-center">
                <button
                  [routerLink]="['/proveedor/edit', proveedor.idProveedor]"
                  class="btn btn-primary"
                  title="Editar"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  (click)="eliminarProveedorPorId(proveedor.idProveedor)"
                  class="btn btn-danger"
                  title="Eliminar"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  